<%= form_with url: search_groups_path do %>
  <div data-controller="home-page--servers-select">

    <div class="columns">
      <div class="field column is-third has-addons has-addons-centered">
        <p class="control has-icons-left">
          <span class="select">
            <select name="region" id="region_id"
              data-action="change->home-page--servers-select#regionSelect"
              data-target="home-page--servers-select.regionSelected">
              <% @regions.each do |region| %>
                <option value="<%= region.id %>">
                  <%= region.name %>
                </option>
              <% end %>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-globe"></i>
          </span>
        </p>
      </div>

      <div class="field column is-third has-addons has-addons-centered">
        <p class="control has-icons-left">
          <span class="select">
            <select name="server" id="server_id"
              data-target="home-page--servers-select.serverRegion">
              <%= render 'servers/server_options' %>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-server"
            data-target="home-page--servers-select.serverIcon"></i>
          </span>
        </p>
      </div>

      <div class="control column is-third has-text-centered">
        <%= submit_tag "Submit", class: "button is-primary" %>
      </div>
    </div>

  </div>
<% end %>
