<div class="">
  <% if @user %>
    <h4><%= @user.username%></h4>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/auth/bnet">Sign In</a>
  <% end %>
</div>

<%= render 'servers/server_region_pick' %>

<div class="groups box columns">
  <% @groups.each do |group| %>
  <div class="group">
    <div class="group__server">
      <%= Server.find(group.server_id).name %>
    </div>
    <div class="group__type">
      <%= group.group_type %>
    </div>
    <div class="group__tanks">
      <%= group.group_tanks %>
    </div>
    <div class="group__heals">
      <%= group.group_heals %>
    </div>
    <div class="group__dps">
      <%= group.group_dps %>
    </div>
    <div class="group__faction">
      <% if group.faction == 0 %>
      Alliance
      <% else %>
      Horde
      <% end %>
    </div>
    <div class="group__description">
      <%= group.short_description %>
    </div>
    <div class="group__time">
      <%= group.time %>
    </div>
  </div>
  <% end %>
</div>
