<div class="request_applications">
  <% @requests.each do |request| %>
    <div class="request box columns">
      <div class="about_character column is-2">
        <div class="request_character">
          <%= request.character.capitalize %>
        </div>
        <div class="request_level">
          <%= request.level %>
        </div>
        <div class="request_role">
          <% if request.role.length == 1 %>
            <%= request.role[0] %>
          <% elsif request.role.length == 2 %>
            <%= request.role[0] %> / <%= request.role[1] %>
          <% else %>
            <%= request.role[0] %> / <%= request.role[1] %> / <%= request.role[2] %>
          <% end %>
        </div>
      </div>
      <div class="request_description column">
        <%= request.description %>
      </div>
      <% if current_user && current_user.id == @group.user_id %>
        <div class="accept_deny_request level">
          <%= button_to group_accept_path(group_id: @group.id, user_id: request.user_id), {class: "button is-success"} do %>
            Accept
          <% end %>
          <button class="button is-danger" type="button" name="button">
            Deny
          </button>
          <button class="button is-link" type="button" name="button">
            Reserve
          </button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
