<div class="request_applications">
  <% @requests.each do |x| %>
    <div class="request_character">
      <%= x.character %>
    </div>
    <div class="request_level">
      <%= x.level %>
    </div>
    <div class="request_role">
      <% if x.role.length == 1 %>
        |<%= x.role %>|
      <% elsif x.role.length == 2 %>
        |<%= x.role[0] %>|<%= x.role[1] %>|
      <% else %>
        |<%= x.role[0] %>|<%= x.role[1] %>|<%= x.role[2] %>|
      <% end %>
    </div>
    <div class="request_description">
      <%= x.description %>
    </div>
  <% end %>
</div>
