<!DOCTYPE html>
<html>
  <head>
    <title>WoWGroups</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if @js_pack_tag %>
      <%= javascript_pack_tag @js_pack_tag[:js], 'data-turbolinks-track': 'reload', async: true %>
    <% end %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
